/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	font-size: 1.5em;	
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);	
	padding: .2em;
}

#closed-captions .p6{
	height: 30px;
}

#closed-captions .on {
	opacity: 1;
	bottom: 15px;
	background-color: #000;
}

#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

.voice1{
	font-style: bold;
    font-family: "brenner mono";
    font-size: 1.6em;
    color: dodgerblue;
}

.voice2{
    font-family: "brenner sans";
    font-size: 1.6em;
    color: yellow;
}

.voice3{
    font-family: "brenner slab";
    font-style: bold;
    font-size: 1em;
    color: green;
	position: absolute;
	top: 25%;
	left: 25% !important;
	
	
	
}




.voice4{
    font-family: "brenner condensed";
    font-size: 1.6em;
    color: mediumpurple;
}


/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */

.p0 span {
	opacity: 0;
	font-family: brenner;
}

.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-weight: 200;
}

.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.25em;
	font-weight: 400;
}

.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.25em;
	font-weight: 600;
}

.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.25em;
	font-weight: 800;
}

.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.25em;
	font-family: "brenner sans";
}

.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.25em;
	font-family: "brenner display";
}

.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.25em;
	font-family: "brenner script";
}

.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
	font-family: "brenner script";
}

.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
	font-family: "brenner Sans condensed";
}

.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
	font-family: "brenner mono";
}

.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
	font-family: "brenner slab";
}

.p8.on, .p9.on, .p11.on , .p12.on, .p14.on, .p15.on, .p17.on, .p18.on {
	margin: 0;
	padding: 0;
	font-size: 250px !important;
	position: absolute;
	top: 40%;
	left: 50%;
	background-color: transparent !important;
		
}

.p19.on, .p20.on, .p22.on, .p23.on, .p25.on, .p26.on, .p28.on, .p29.on, .p31.on, .p33.on, .p34.on, .p36.on, .p37.on{
	margin: 0;
	padding: 0;
	font-size: 200px !important;
	top: 40%;
	left: 50%;
	position: absolute;
	background-color: transparent !important;
		
}

/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

/* The moment the class .sound1 is added to the body, the background is yellow */

.sound1 {
    background: black;
    animation: shake2 1s;
}

@keyframes shake2 {
    from{
        background-color: black;
    }
    
    to{
        background-color: green;
    }
}

.sound4 {
    background: black;
    animation: scan 1s;
}

@keyframes scan {
    from {
        background-color: black;
    }
    to {
        background-image: url(../images/error.gif);
    }
}

/* The moment the class .sound1 is added to the body, the movie makes a turn */
.sound1 #video-mask {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

.sound2 #video-mask {
	animation: siren 2s linear;
}

.sound5{
	animation: scan1 1s; 
}

.sound6 {
    background: black;
    animation: scan1 1s;
}

@keyframes scan1 {
    from {
        background-color: black;
    }
    to {
        background-image: url(../images/error.gif);
    }
}

.sound8 {
    background: black;
    animation: scan2 1s;
}

@keyframes scan2 {
    from {
        background-color: black;
    }
    to {
        background-image: url(../images/error.gif);
    }
}

.sound9 {
	/* animation: flash .5s linear; 
	animation-iteration-count: 86; */
	animation: flash 42s linear; 
	
}

.sound9 #video-mask {
	animation: zoom 42s linear both;
	
}

@keyframes zoom {
	
	from { transform: scale(1); }
	to { transform: scale(1.2); }
  }

@keyframes flash {
	/* 50% { */
	  /* background-image: url(../images/error.gif); }
	 }; */
	1% {background-color: white;}
	2% {background: black;}
	10% {background-color: white;}
	11% {background: black;}
	20% {background-color: white;}
	21% {background: black;}
	25% {background-color: white;}
	26% {background: black;}
	30% {background-color: white;}
	31% {background: black;}
	35% {background-color: white;}
	36% {background: black;}
	40% {background-color: white;}
	41% {background: black;}
	45% {background-color: white;}
	46% {background: black;}
	50% {background-color: white;}
	51% {background: black;}
	53% {background-color: white;}
	54% {background: black;}
	56% {background-color: white;}
	57% {background: black;}
	59% {background-color: white;}
	60% {background: black;}	
	62% {background-color: white;}
	63% {background: black;} 
	65% {background-color: white;}
	67% {background: black;}
	68% {background-color: white;}
	69% {background: black;}
	70% {background-color: white;}
	71% {background: black;}
	72% {background-color: white;}
	73% {background: black;}
	74% {background-color: white;}
	75% {background: black;}
	76% {background-color: white;}
	77% {background: black;}
	78% {background-color: white;}
	79% {background: black;}
	80% {background-color: white;}
	81% {background: black;}
	82% {background-color: white;}
	83% {background: black;}
	84% {background-color: white;}
	85% {background: black;}
	86% {background-color: white;}
	87% {background: black;}
	88% {background-color: white;}
	89% {background: black;}
	90% {background-color: white;}
	91% {background: black;}
	92% {background-color: white;}
	93% {background: black;}
	94% {background-color: white;}
	95% {background: black;}
	96% {background-color: white;}
	97% {background: black;}
	98% {background-color: white;}
	99% {background: black;}
};

@keyframes background {
	100% {background-color:green}
}

@keyframes siren {
	25% {box-shadow: 0px 0px 15px 50px red;}
	50% {box-shadow: 0px 0px 15px 50px blue;}
  }

@keyframes shake {
	10%, 90% {
	  transform: translate3d(-8px, 0, 0);
	}
	
	20%, 80% {
	  transform: translate3d(4px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-24px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(12px, 0, 0);
	}
  }

  .sound10 #video-mask{
	animation: pulse .2s infinite ease-in-out alternate;
	animation-iteration-count: 50;
  }

  @keyframes pulse {
	from { transform: scale(1.2); }
	to { transform: scale(1); }
  }

.sound11{
	animation: kleur 1s linear;
    background-color: black;
}

@keyframes kleur {
	10%{
		background-color: blue;
	}
	40% {
		background-color: red;
	}
	80% {
		background-color: blue;
	}
}


.sound12 #video-mask{
	animation: zoom 10s ease-in-out alternate;
	animation-iteration-count: 4;
}
  .sound12 .vierkant{
	
	opacity: 0;
	width: 1em;
	height: 1em;
	background: blue;
	position: absolute;
	left: 50%;
	top: 50%;
	animation: rond2 42s linear;
	border: darkblue;
	}
	 
	@keyframes rond2 {
		0% {
			opacity: 0;
			transform: scale(0);
			background-color: black;
		}
		15% {
			opacity: 1;
			transform: scale(120);
			background-color: purple;
		}
		30% {
			opacity: 1;
			transform: scale(80);
			background-color: blue;
		}
		45% {
			opacity: 1;
			transform: scale(60);
			background-color: green;
		}
		60% {
			opacity: 1.25;
			transform: scale(80);
			background-color: yellow;
		}
		75% {
			opacity: 1.5;
			transform: scale(100);
			background-color: orange;
		}
		90% {
			opacity: 2;
			transform: scale(120);
			background-color: red;
		}
		100% {
			opacity: 0;
			transform: scale(150);
			background-color: red;
		}
	}

/* **********************************************
Basic layout.
	Place the video in the center of the page.
*********************************************  */

body {
	display: grid;
	height: 100vh;
	margin: 0;
	justify-content: center;
	background-color: #000;
	color: #FFF;
}

#video-container {
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#video-mask {
	aspect-ratio: 240.5/100;
	display: grid;
	overflow: hidden;
	align-content: center;
	transition: 1s;
	
	
}

iframe {
	width: 80vw;
	height: 53.33333333vw;
	margin-top: -0.35vw;
}
